@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #989e35;
  --brand-secondary: #4a4746;
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  color: #111;
}
